@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if(ViewBag.error != null)
{
    <p>@ViewBag.error</p>
}

<form method="post" action="/user">

    Username:
    <br />
    <input type="text" name="username" value="@ViewBag.userName" />
    <br />

    Email:
    <br />
    <input type="email" name="email" value="@ViewBag.eMail" />
    <br />

    Password:
    <br />
    <input type="password" name="password" />
    <br />

    Confirm Password:
    <br />
    <input type="password" name="verify" />
    <br />
    <br />
    <input type="submit" value="Submit"/>
</form>